<footer>
  <div id="leftFooterContainer">
    <h1>Find Us On</h1>
    <ul>
      <li><a href="https://www.yelp.com/biz/riverside-thai-kitchen-riverside"><i class="fab fa-yelp"></i></a></li>
      <li><a href="https://www.facebook.com/pages/Riverside-Thai-Kitchen/517615761584331"><i class="fab fa-facebook-square"></i></a></li>
    </ul>
  </div>
  <div id="middleFooterContainer">
    <div class="middleContainerHeader">
      <h1>Address</h1>
    </div>
    <span>7755 California Ave, Riverside, CA 92504</span>
  </div>
  <div id="rightFooterContainer">
    <h1>Phone/Order:</h1>
    <p>(951) 729 - 6675</p>
    <a href="https://www.grubhub.com/restaurant/riverside-thai-kitchen-7755-california-ave-riverside/273402?dtype=delivery&utm_source=eat24hours.com&utm_medium=grubhub-owned-delivery-properties&utm_campaign=growth_redirect-eat24-legacy_201811&utm_content=nopromo_" id="footerOrder"><i class="far fa-smile-beam"></i>rder Here!</a>
  </div>
</footer>
<script integrity src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.js"></script>
<script integrity src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollToPlugin.js"></script>
<script integrity src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.js"></script>
<script type='text/javascript' src='/js/jquery.js'></script>
<script type="text/javascript" src="./js/smoothScroll.js"></script>
<script type="text/javascript" src="./js/index.js">
</script>
</body>
</html>
