<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Riverside Thai Kitchen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <link rel="manifest" href="../img/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- End favicon -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Playball&display=swap" rel="stylesheet">
    <link href="/css/hamburger.css" rel="stylesheet" type="text/css" />
    <link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet" type="text/css" />
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><h1 id="mobileLogo">Riverside<img src="./img/pepper.png" alt=""><br/><span id="logoSpan">Thai</span> Kitchen</h1></a>
        <ul id="mobileNav">
          <li><a href="#landingContainer">Home</a></li>
          <li><a href="#aboutSection">About</a></li>
          <li><a href="#menuSection">Menu</a></li>
          <li><a href="/"><h1 id="h1Logo">Riverside<img src="./img/pepper.png" alt=""><br/><span>Thai</span> Kitchen</h1></a></li>
          <li><a href="https://www.grubhub.com/restaurant/riverside-thai-kitchen-7755-california-ave-riverside/273402?dtype=delivery&utm_source=eat24hours.com&utm_medium=grubhub-owned-delivery-properties&utm_campaign=growth_redirect-eat24-legacy_201811&utm_content=nopromo_">Order</a></li>
          <li> <a onclick="navigate(33.945470,-117.418980)">Location</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <button class="hamburger hamburger--squeeze" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <ul id="desktopNav">
          <li><a href="#landingContainer">Home</a></li>
          <li><a href="#aboutSection">About</a></li>
          <li><a href="#menuSection">Menu</a></li>
          <li><a href="/"><h1 id="h1Logo">Riverside<img src="./img/pepper.png" alt=""><br/><span>Thai</span> Kitchen</h1></a></li>
          <li><a href="https://www.grubhub.com/restaurant/riverside-thai-kitchen-7755-california-ave-riverside/273402?dtype=delivery&utm_source=eat24hours.com&utm_medium=grubhub-owned-delivery-properties&utm_campaign=growth_redirect-eat24-legacy_201811&utm_content=nopromo_">Order</a></li>
          <li><a href="/contact">Location</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
