<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Riverside Thai Kitchen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <link rel="manifest" href="../img/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Playball&display=swap" rel="stylesheet">
    <link href="/css/dropdown.css" rel="stylesheet" type="text/css" />
    <link href="/css/hamburger.css" rel="stylesheet" type="text/css" />
    <link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet" type="text/css" />
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><h1 id="mobileLogo">Riverside<img src="./img/pepper.png" alt=""><br/><span>Thai</span> Kitchen</h1></a>
        <ul id="mobileNav">
          <li><a href="/">Home</a></li>
          <li><a href="#aboutSection">About</a></li>
          <li><a href="#menuSection">Menu</a></li>
          <li><a href="/"><h1 id="h1Logo">Riverside<img src="./img/pepper.png" alt=""><br/><span>Thai</span> Kitchen</h1></a></li>
          <li><a href="https://www.grubhub.com/restaurant/riverside-thai-kitchen-7755-california-ave-riverside/273402?dtype=delivery&utm_source=eat24hours.com&utm_medium=grubhub-owned-delivery-properties&utm_campaign=growth_redirect-eat24-legacy_201811&utm_content=nopromo_">Order</a></li>
          <li> <a onclick="navigate(33.945470,-117.418980)">Location</a></li>
          <li><a href="javascript:void(0);">Contact</a></li>
        </ul>
        <button class="hamburger hamburger--squeeze" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <ul id="desktopNav">
          <li><a href="/">Home</a></li>
          <li><a href="/#aboutSection">About</a></li>
          <li><a href="/#menuSection">Menu</a></li>
          <li><a href="/"><h1 id="h1Logo">Riverside<img src="./img/pepper.png" alt=""><br/><span>Thai</span> Kitchen</h1></a></li>
          <li><a href="https://www.grubhub.com/restaurant/riverside-thai-kitchen-7755-california-ave-riverside/273402?dtype=delivery&utm_source=eat24hours.com&utm_medium=grubhub-owned-delivery-properties&utm_campaign=growth_redirect-eat24-legacy_201811&utm_content=nopromo_">Order</a></li>
          <li><a href="javascript:void(0);">Location</a></li>
          <li><a href="javascript:void(0);">Contact</a></li>
        </ul>
      </nav>
    </header>
<section id="contactSection">
  <div id="mapSection" class="clearfix">
    <div id="map" class="clearfix">
    </div>
  </div>
  <div id="contactContainer">
    <h1 id="contactHeader">Contact Information</h1>
    <div id="upperContactContainer">
      <div id="contactAdressBox">
      <div class="addressBox">
        <h2>Address</h2>
      <p>7755 California Ave, Riverside, CA 92504</p>
      </div>
      <div class="addressBox">
        <h2>Phone</h2>
      <p>(951) 729 - 6675</p>
      </div>
      </div>
      <div id="contactDeliveryLocations">
      <h2>Delivery Areas</h2>
      <p>Arlanzas, Arlington, Arlington South, La Sierra South, Arlington Heights, Casa Blanca,
        Grand, Wood Streets, Canyon Crest, Ramona, Magnolia Center, Victoria, Hawarden Hills,
        Alessandro Heights, California Baptist University, Sherman Indian Institute</p>
      </div>

    </div>
    <div id="innerContactContainer">
      <div class="innerTableContainer">
        <div class="deliveryTitle">
        <h1>Delivery Hours</h1>
        </div>
        <div class="tableColumnContainer">
        <div class="tableBoxColOne">
        <div class="tableRow">
        <p>Monday</p>
        </div>
        <div class="tableRow">
        <p>Tuesday</p>
        </div>
        <div class="tableRow">
        <p>Wednesday</p>
        </div>
        <div class="tableRow">
        <p>Thursday</p>
        </div>
        <div class="tableRow">
        <p>Friday</p>
        </div>
        <div class="tableRow">
        <p>Saturday</p>
        </div>
        <div class="tableRow">
        <p>Sunday</p>
        </div>
        </div>
        <div class="tableBoxColTwo">
        <div class="tableRow">
        <p>11:00 AM to 9:30 PM</p>
        </div>
        <div class="tableRow">
        <p>11:00 AM to 9:30 PM</p>
        </div>
        <div class="tableRow">
        <p>11:00 AM to 9:30 PM</p>
        </div>
        <div class="tableRow">
        <p>11:00 AM to 9:30 PM</p>
        </div>
        <div class="tableRow">
        <p>11:00 AM to 9:30 PM</p>
        </div>
        <div class="tableRow">
        <p>11:00 AM to 9:30 PM</p>
        </div>
        <div class="tableRow">
        <p>11:00 AM to 9:30 PM</p>
        </div>
        </div>
        </div>
      </div>
      <div class="innerTableContainer">
      <div class="deliveryTitle">
      <h1>Ordering Info</h1>
      </div>
      <div class="tableColumnContainer">
      <div class="tableBoxColOne">
      <div class="tableRow">
      <p>Min Order</p>
      </div>
      <div class="tableRow">
      <p>Delivery Charge</p>
      </div>
      <div class="tableRow">
      <p>Payment Options</p>
      </div>
      <div class="tableRow">
      <p>Serving</p>
      </div>
      </div>
      <div class="tableBoxColTwo">
      <div class="tableRow">
      <p>$20</p>
      </div>
      <div class="tableRow">
      <p>Free</p>
      </div>
      <div class="tableRow">
      <p>Cash,</p>&nbsp;<p>PayPal,</p>&nbsp;<p>Visa,</p>&nbsp;<p>Amex,</p>&nbsp;<p>Discover,</p>&nbsp;<p>Mastercard</p>
      </div>
      <div class="tableRow" id="servingBox">
      <p>Thai |</p>&nbsp;
      <p>Chicken | </p>&nbsp;
      <p>Vegetarian | </p>&nbsp;
      <p>Seafood | </p>&nbsp;
      <p>BBQ | </p>&nbsp;
      <p>Salad</p>
      </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div id="leftFooterContainer">
    <h1>Find Us On</h1>
    <ul>
      <li><a href="https://www.yelp.com/biz/riverside-thai-kitchen-riverside"><i class="fab fa-yelp"></i></a></li>
      <li><a href="https://www.facebook.com/pages/Riverside-Thai-Kitchen/517615761584331"><i class="fab fa-facebook-square"></i></a></li>
    </ul>
  </div>
  <div id="middleFooterContainer">
    <div class="middleContainerHeader">
      <h1>Address</h1>
    </div>
    <span>7755 California Ave, Riverside, CA 92504</span>
  </div>
  <div id="rightFooterContainer">
    <h1>Phone/Order:</h1>
    <p>(951) 729 - 6675</p>
    <a href="https://www.grubhub.com/restaurant/riverside-thai-kitchen-7755-california-ave-riverside/273402?dtype=delivery&utm_source=eat24hours.com&utm_medium=grubhub-owned-delivery-properties&utm_campaign=growth_redirect-eat24-legacy_201811&utm_content=nopromo_" id="footerOrder"><i class="far fa-smile-beam"></i>rder Here!</a>
  </div>
</footer>
<script integrity src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.js"></script>
<script integrity src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollToPlugin.js"></script>
<script integrity src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.js"></script>
<script>
  // Initialize and add the map
  function initMap() {
  // The location of Uluru
  var uluru = {lat: 33.945470, lng: -117.418980};
  // The map, centered at Uluru
  var map = new google.maps.Map(
    document.getElementById('map'), {zoom: 16, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6-kYu9JuqI4I49Y9q6g8xGNa-w9J4QzA&callback=initMap">
</script>
<script type='text/javascript' src='/js/jquery.js'></script>
<script type="text/javascript" src="../js/index.js"></script>
</body>
</html>
