<% include ./partials/header %>

<section id="landingContainer">
  <div id="innerLandingContainer">
    <div class="landingImg">
      <div class="innerLandingText">
        <p>RIVERSIDE &nbsp;<span id="landingThaiText">THAI</span>&nbsp; KITCHEN</p>
        <hr>
      </div>
    </div>
    <div class="landingImg">
      <div class="innerLandingText">

        <p><i class="fas fa-fire"></i>FRESH INGREDIENTS.</p>
        <span>From Our Grill To Your Plate.</span>
        <hr>
      </div>
    </div>
    <div class="landingImg">
      <div class="innerLandingText">
        <p>DINE IN. TAKE OUT.
         DELIVERY.</p>
         <span><i class="fas fa-truck"></i>We Do It All.</span>
         <hr>
      </div>
    </div>
    <div class="landingImg">
      <div class="innerLandingText">
        <p>WHAT ARE YOU WAITING FOR?</p>
        <span>Order Now! <i class="far fa-smile-wink"></i></span>
        <hr>
      </div>
    </div>
  </div>
</section>
<section id="aboutSection">
  <div id="aboutHeader">
    <h1>Thai Food...Yummm!</h1>
    <img src="../img/shrimp.png">
  </div>
  <div id="aboutInnerContainer">
    <div id="aboutDescription">
      <p>Are you <span style="color: #9A031E;">hungry</span> in the greater Riverside area? Riverside <span style="color: #9A031E;">Thai</span> Kitchen is the place to go!
        Where you can find great Thai food available for <span style="color: #608297;">delivery</span> or <span style="color: #608297;">takeout</span>. Our menu includes your
        favorite Thai dishes & drinks! Check out our Yelp to read our great reviews or stop by at
        <span style="color: #9A031E;">7755 California Ave, Riverside, CA 92504.</span> We hope to see you soon!</p>
    </div>
    <div id="aboutImgContainer">
      <img src="../img/food.png" alt="">
    </div>
  </div>
</section>
<section id="fillerSection">
</section>
<section id="menuSection">
  <div id="innerMenuContainer">
    <div id="menuHeader">
      <h1>Full Menu</h1>
      <div id="menuHeaderIconBox">
        <a href="https://www.grubhub.com/restaurant/riverside-thai-kitchen-7755-california-ave-riverside/273402?dtype=delivery&utm_source=eat24hours.com&utm_medium=grubhub-owned-delivery-properties&utm_campaign=growth_redirect-eat24-legacy_201811&utm_content=nopromo_" id="orderOnlineTop"><i class="fas fa-arrow-circle-right"></i>  Order Online</a>
        <div id="iconContainer">
          <div class="iconBox">
            <p><i class="fas fa-star"></i> Popular</p>
          </div>
          <div class="iconBox">
            <p><i class="fas fa-fire"></i> Spicy</p>
          </div>
          <div class="iconBox">
            <p><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="16" height="16"
              viewBox="0 0 172 172"
              style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none" stroke="none"></path><g><path d="M27.95,136.525v-50.1982l-1.3416,-0.5418c-12.2464,-4.9622 -20.1584,-16.6926 -20.1584,-29.885c0,-17.7848 14.4652,-32.25 32.25,-32.25c5.117,0 10.0405,1.1911 14.6415,3.5432l2.0554,1.0492l0.903,-2.1242c5.0654,-11.9497 16.7227,-19.6682 29.7001,-19.6682c12.9774,0 24.6347,7.7185 29.7001,19.6682l0.903,2.1242l2.0554,-1.0492c4.601,-2.3521 9.5245,-3.5432 14.6415,-3.5432c17.7848,0 32.25,14.4652 32.25,32.25c0,13.1924 -7.912,24.9228 -20.1584,29.885l-1.3416,0.5418v50.1982z" fill="#faf0e6" stroke="none"></path><path d="M86,8.6c12.1088,0 22.9921,7.2068 27.7221,18.3567l1.8017,4.2527l4.1108,-2.1027c4.2957,-2.193 8.8924,-3.3067 13.6654,-3.3067c16.598,0 30.1,13.502 30.1,30.1c0,12.3109 -7.3831,23.2587 -18.8168,27.8898l-2.6832,1.0879v2.8982v46.5991h-111.8v-46.5991v-2.8982l-2.6832,-1.0879c-11.4337,-4.6311 -18.8168,-15.5789 -18.8168,-27.8898c0,-16.598 13.502,-30.1 30.1,-30.1c4.773,0 9.3697,1.1137 13.6611,3.3067l4.1108,2.1027l1.8017,-4.2527c4.7343,-11.1499 15.6176,-18.3567 27.7264,-18.3567M86,4.3c-14.2373,0 -26.4493,8.6473 -31.6824,20.9754c-4.6913,-2.3951 -9.9889,-3.7754 -15.6176,-3.7754c-18.9974,0 -34.4,15.4026 -34.4,34.4c0,14.4351 8.8967,26.7718 21.5,31.8759v50.8991h120.4v-50.8991c12.6033,-5.1041 21.5,-17.4451 21.5,-31.8759c0,-18.9974 -15.4026,-34.4 -34.4,-34.4c-5.6287,0 -10.9263,1.3803 -15.6176,3.7754c-5.2331,-12.3281 -17.4451,-20.9754 -31.6824,-20.9754z" fill="#788b9c" stroke="none"></path><path d="M105.6811,94.6v25.8M66.3189,94.6v25.8M45.15,94.6v25.8M126.85,94.6v25.8" fill="none" stroke="#788b9c"></path><g stroke="none"><path d="M27.95,135.45h116.1v25.8h-116.1z" fill="#858585"></path><path d="M141.9,137.6v21.5h-111.8v-21.5h111.8M146.2,133.3h-120.4v30.1h120.4v-30.1z" fill="#848484"></path></g></g></g></svg> Chef Special</p>
          </div>
          <div class="iconBox">
            <p><i class="fas fa-leaf"></i> Veggie</p>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="menuCard">
      <div class="menuCardTitle">
        <h1>Appetizers</h1>
        <hr>
      </div>
      <div class="menuCardColumnContainer">
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>1. Egg Rolls(4)</h1>
              <p>$4.95</p>
            </div>
            <div class="itemDescription">
              <p>Crispy rolls rlled with veggies, served with sweet and sour sauce.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>3. Crab Rangoon (6) <i class="fas fa-star"></i></h1>
              <p>$5.95</p>
            </div>
            <div class="itemDescription">
              <p>Cream cheese and crab meat wrapped with wonton skin.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>5. Hot Wings</h1>
              <p>$5.95</p>
            </div>
            <div class="itemDescription">
              <p>Chicken wings in sweet chili sauce.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>7. Fried Wonton (8)</h1>
              <p>$5.95</p>
            </div>
            <div class="itemDescription">
              <p>Deep fried wonton stuffed with ground chicken.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>9. Shrimp Rolls (6)</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>Deep fried wrapped by wonton.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>11. Riverside Thai Paradise (10)</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Combination of fried wonton, egg rolls, golden tofu, gyoza and shrimp rolls.</p>
            </div>
          </div>
        </div>
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>2. Golden Tofu</h1>
              <p>$4.95</p>
            </div>
            <div class="itemDescription">
              <p>Breaded and deep fried tofu served with sweet and sour sauce.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>4. Fresh Spring Roll (3)</h1>
              <p>$5.95</p>
            </div>
            <div class="itemDescription">
              <p>Fresh spring roll stued with shrimp, tofu, basil leaves, carrots, cilantro, rice noodle served with peanut and sweet and sour sauce.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>6. Chicken Sa-Tay (5 )</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Marinated in coconut milk and spices, served with house style peanut sauce and cucumber.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>8. Gyoza (6)</h1>
              <p>$5.95</p>
            </div>
            <div class="itemDescription">
              <p>Pan-fried or steamed chicken and vegetable dumplings.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>10. Shrimp Tempura (5)</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Fresh shrimp quickly deep fried in a light batter.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>12. Riverside Thai Style Chicken Wrap</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Ground chicken with lime juice, chili, onions, cilantro and rice powder wrapped in lettuce.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menuCard">
      <div class="menuCardTitle">
        <h1>Soups</h1>
        <hr>
      </div>
      <div class="menuCardColumnContainer">
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>13. Tofu Soup</h1>
              <div class="priceBox">
                <p>Small: $3.95</p>
                <p>Large: $7.95</p>
              </div>
            </div>
            <div class="itemDescription">
              <p>Soy beans, bok choy, carrots and onions.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>15. Wonton Soup</h1>
              <div class="priceBox">
                <p>Small: $4.95</p>
                <p>Large: $8.95</p>
              </div>
            </div>
            <div class="itemDescription">
              <p>Stuffed wontons, chicken, shrimp and bok choy in chicken broth.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>17. Tom Yum Kai</h1>
              <div class="priceBox">
                <p>Small: $4.95</p>
                <p>Large: $8.95</p>
              </div>
            </div>
            <div class="itemDescription">
              <p>(Chicken, tofu, or vegetable). Lemongrass chicken soup with fresh mushrooms, tomatoes, kar lime leaves,
                exotic spice and lemon juice.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>19. Tom Yum Goong</h1>
              <div class="priceBox">
                <p>Small: $4.95</p>
                <p>Large: $8.95</p>
              </div>
            </div>
            <div class="itemDescription">
              <p>Shrimp. Lemongrass shrimp soup with fresh mushrooms, tomatoes, lime leaves, exotic spices and lemon juice.</p>
            </div>
          </div>
        </div>
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>14. Vegetable Soup <i class="fas fa-leaf"></i></h1>
              <div class="priceBox">
                <p>Small: $3.95</p>
                <p>Large: $7.95</p>
              </div>
            </div>
            <div class="itemDescription">
              <p>Bok choy, mushrooms, carrots, broccoli, onions, celery and cabbage.</p>
            </div>
            </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>16. Tom Kha Kai <i class="fas fa-star"></i></h1>
              <div class="priceBox">
                <p>Small: $4.95</p>
                <p>Large: $8.95</p>
              </div>
            </div>
            <div class="itemDescription">
              <p>(Chicken, tofu, or vegetable). Spicy coconut soup with lemongrass, galangal and mushrooms.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>18. Tom Kha Goong</h1>
              <div class="priceBox">
                <p>Small: $5.95</p>
                <p>Large: $10.95</p>
              </div>
            </div>
            <div class="itemDescription">
              <p>Shrimp. Spicy coconut soup with lemongrass, galangal and mushrooms.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>20. Spicy Seafood Soup <i class="fas fa-fire"></i></h1>
              <p>$11.95</p>
            </div>
            <div class="itemDescription">
              <p>Variety of seafood with mushrooms in spicy and sour soup.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menuCard">
      <div class="menuCardTitle">
        <h1>Salad</h1>
        <hr>
      </div>
      <div class="menuCardColumnContainer">
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>21. House Salad</h1>
              <p>$4.50</p>
            </div>
            <div class="itemDescription">
              <p>Green salad with peanut dressing.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>23. Yum Yai</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Green salad with steamed chicken, boiled egg and shrimp with peanut or spicy lime dressing.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>25. Chicken Larb <i class="fas fa-star"></i></h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>food</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>27. Yum Woon Sen</h1>
              <p>$8.95</p>
            </div>
            <div class="itemDescription">
              <p>Glass noodles, ground chicken, shrimp, lettuce, onions and cilantro in spicy lime dressing.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>29. Spicy Seafood Salad</h1>
              <p>$10.95</p>
            </div>
            <div class="itemDescription">
              <p>Mixed seafood, lettuce, cucumbers, tomatoes, onions, and cilantro in spicy lime dressing.</p>
            </div>
          </div>
        </div>
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>22. Papaya Salad</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>Spicy papaya salad with tomato, chili and crushed peanut mixed with lime juice.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>24. Spicy Beef Salad <i class="fas fa-fire"></i></h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>food</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>26. Squid Salad</h1>
              <p>$8.95</p>
            </div>
            <div class="itemDescription">
              <p>Squid, tomatoes, onions, and celery in spicy lime dressing.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>28. Par Koong</h1>
              <p>$9.95</p>
            </div>
            <div class="itemDescription">
              <p>(grilled naked shrimp) grilled shrimp, lettuce, cucumbers, tomatoes, onions and cilantro in tangy spicy dressing.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menuCard">
      <div class="menuCardTitle">
        <h1>A La Carte</h1>
        <span>Serve with steamed jasmine rice or brown rice. Your choice of chicken, beef, pork, tofu or vegetable. Add $ 2.00 for shrimp.</span>
        <hr>
      </div>
      <div class="menuCardColumnContainer">
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>30. Spicy Basil Leaves <i class="fas fa-fire"></i></h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Chili, garlic, onions, bell peppers, and basil leaves.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>32. Sweet and Sour</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Tomatoes, pineapples, onions, bell peppers, cucumber, and carrots in sweet and sour sauce.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>34. Spicy Cashew Nuts <i class="fas fa-fire"></i></h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried with water chestnuts, roasted chili and chili paste.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>36. Eggplant Lover</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried with bell peppers, onions and mint leaves.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>38. Pad Prink Thai Dum</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried with black pepper, onions, bell peppers, celery and mushrooms.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>40. Fried Garlic and Pepper</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried with garlic sauce, pepper and vegetable.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>42. Chicken Teriyaki</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Sliced grilled chicken, served with teriyaki sauce.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>44. Thai BBQ Chicken</h1>
              <p>$8.95</p>
            </div>
            <div class="itemDescription">
              <p>Served with sweet and sour sauce.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>46. Three Flavor Fish</h1>
              <p>$10.95</p>
            </div>
            <div class="itemDescription">
              <p>Deep fried whole tilapia fsh topped with sweet chili sauce.</p>
            </div>
          </div>
        </div>
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>31. Broccoli and Oyster Sauce</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried fresh broccoli with oyster sauce.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>33. Mixed Vegetables <i class="fas fa-leaf"></i></h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried with oyster sauce.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>35. Ginger and Mushroom</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried fresh ginger, onions, mushrooms, and carrots in soy sauce.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>37. Prik King</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried fresh green bean with chili paste.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>39. Garlic Green Bean</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried fresh green beans with garlic.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>41. Orange Chicken</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Lightly battered boneless chicken marinated in orange juice.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>43. Crying Tiger <i class="fas fa-star"></i></h1>
              <p>$8.95</p>
            </div>
            <div class="itemDescription">
              <p>Grilled top sirloin beef served with riverside dressing.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>45. B.B.Q. Pork Spareribs</h1>
              <p>$8.95</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menuCard">
      <div class="menuCardTitle">
        <h1>Curries</h1>
        <span>Your choice of chicken, beef, pork, tofu or vegetable. Add $ 2.00 for shrimp.</span>
        <hr>
      </div>
      <div class="menuCardColumnContainer">
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>47. Red Curry</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Your choice of meat in red curry, coconut milk, bamboo shoots, basil leaves and bell peppers.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>49. Yellow Curry</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Your choice of meat in yellow curry, coconut milk, potatoes, carrots and onions.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>51. Massa Man Curry</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Your choice of meat in massa man curry, coconut milk, peanuts, potatoes, and onions.</p>
            </div>
          </div>
        </div>
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>48. Green Curry</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Your choice of meat in green curry, coconut milk, bamboo shoots, basil leaves, eggplants and bell peppers.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>50. Panang Curry <i class="fas fa-star"></i></h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Your choice of meat in panang curry, coconut milk, bell peppers, peas.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>52. Pineapple Curry Shrimp</h1>
              <p>$10.95</p>
            </div>
            <div class="itemDescription">
              <p>Shrimp with coconut milk, bell peppers and basil leaves.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menuCard">
      <div class="menuCardTitle">
        <h1>Noodles</h1>
        <span>Choice of chicken, beef, pork or tofu. Add $2 for shrimp.</span>
        <hr>
      </div>
      <div class="menuCardColumnContainer">
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>53. Pad Thai <i class="fas fa-star"></i></h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried thin rice noodles with egg, bean sprouts, green onions and grounded peanuts.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>55. Pad Kee Mao</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Pan fried fat noodles with basil leaves, onions, and bell peppers.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>57. Rad Nah</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Pan fried fat noodles and broccoli topped with gravy sauce.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>59. Pad Woon Sen</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried glass noodles with egg, onions, and tomatoes.</p>
            </div>
          </div>
        </div>
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>54. Pad See Ew</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Pan fried fat noodles with broccoli and egg in sweet soy sauce.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>56. Gai Kua</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried fat noodles with egg, bean sprouts in light soy sauce.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>58. Chow Mein</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried egg noodles with vegetables.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>60. Spicy Glass Noodle <i class="fas fa-fire"></i></h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried glass noodles with chili, basil leaves, onions, tomatoes and bell peppers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menuCard">
      <div class="menuCardTitle">
        <h1>Fried Rice</h1>
        <span>With brown rice add $1.00.</span>
        <hr>
      </div>
      <div class="menuCardColumnContainer">
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>61. Fried Rice</h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>With tomatoes, egg, onions, and choice of chicken, beef, pork, vegetable or tofu.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>63. Pineapple Fried Rice <i class="fas fa-star"></i></h1>
              <p>$8.95</p>
            </div>
            <div class="itemDescription">
              <p>With raisins, cashew nuts, bell peppers, onions in curry powder and choice of chicken, beef, pork, vegetable or tofu. ( add $2.00 for shrimp).</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>65. Combination Fried Rice</h1>
              <p>$9.95</p>
            </div>
            <div class="itemDescription">
              <p>With egg, onions, tomatoes, chicken, beef, pork, and shrimp.</p>
            </div>
          </div>
        </div>
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>62. Spicy Basil Fried Rice <i class="fas fa-fire"></i></h1>
              <p>$7.95</p>
            </div>
            <div class="itemDescription">
              <p>With chili, onions, bell peppers, and choice of chicken, beef, pork, vegetable or tofu (add $2.00 for shrimp).</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>64. Shrimp Fried Rice</h1>
              <p>$9.95</p>
            </div>
            <div class="itemDescription">
              <p>With tomatoes, egg and onions.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>66. Crab Fried Rice</h1>
              <p>$10.95</p>
            </div>
            <div class="itemDescription">
              <p>With tomatoes, egg, and onions.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menuCard">
      <div class="menuCardTitle">
        <h1>Riverside Thai Specials</h1>
        <hr>
      </div>
      <div class="menuCardColumnContainer">
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>67. Salmon Teriyaki</h1>
              <p>$10.95</p>
            </div>
            <div class="itemDescription">
              <p>Grilled salmon served with teriyaki sauce.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>69. Riverside Seafood Special</h1>
              <p>$10.95</p>
            </div>
            <div class="itemDescription">
              <p>Seafood medley stir fried with chili, garlic, onions, bell peppers and basil leaves.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>71. Garlic pepper Salmon</h1>
              <p>$10.95</p>
            </div>
            <div class="itemDescription">
              <p>Garlic pepper sauce with vegetable.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>73. Choo Chee Salmon</h1>
              <p>$10.95</p>
            </div>
            <div class="itemDescription">
              <p>Red curry, coconut milk, bell peppers and basil leaves.</p>
            </div>
          </div>
        </div>
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>68. Spicy Salmon</h1>
              <p>$10.95</p>
            </div>
            <div class="itemDescription">
              <p>Grilled salmon stir fried with chili, garlic, onions, bell peppers, and basil leaves.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>70. Red Curry Seafood</h1>
              <p>$10.95</p>
            </div>
            <div class="itemDescription">
              <p>Seafood in red curry, coconut milk, bamboo shoots, basil leaves and bell peppers.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>72. Panang Curry Seafood</h1>
              <p>$10.95</p>
            </div>
            <div class="itemDescription">
              <p>Seafood in panang curry, coconut milk, bell peppers, peas and carrots.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menuCard">
      <div class="menuCardTitle">
        <h1>Side Orders</h1>
        <hr>
      </div>
      <div class="menuCardColumnContainer">
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Steamed Jasmine Rice <i class="fas fa-star"></i></h1>
              <p>$1.50</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Steamed Noodle</h1>
              <p>$2.00</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Peanut Sauce</h1>
              <p>$1.00</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Dressing</h1>
              <p>$1.00</p>
            </div>
          </div>
        </div>
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Steamed Brown Rice</h1>
              <p>$1.75</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Cucumber Salad</h1>
              <p>$2.00</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Sweet and Sour Sauce</h1>
              <p>$1.00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menuCard">
      <div class="menuCardTitle">
        <h1>Desserts</h1>
        <hr>
      </div>
      <div class="menuCardColumnContainer">
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Sticky Rice with Mango (Seasonal)</h1>
              <p>$6.95</p>
            </div>
          </div>
        </div>
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Fried Banana</h1>
              <p>$5.95</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menuCard">
      <div class="menuCardTitle">
        <h1>Beverages</h1>
        <hr>
      </div>
      <div class="menuCardColumnContainer">
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Thai Iced Tea</h1>
              <p>$2.00</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Thai Iced Coffee</h1>
              <p>$2.00</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Ice Chrysanthemum tea</h1>
              <p>$1.75</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Lychee</h1>
              <p>$2.50</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Hot Green tea</h1>
              <p>$1.50</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Ice Tea (Non Sweet)</h1>
              <p>$1.95</p>
            </div>
          </div>
        </div>
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Thai Iced Tea with Boba</h1>
              <p>$2.50</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Thai Iced Coffee with Boba</h1>
              <p>$2.50</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Fresh Young Coconut Juice</h1>
              <p>$3.00</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Hot Jasmine tea</h1>
              <p>$1.50</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Hot Coffee</h1>
              <p>$1.50</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>Soda</h1>
              <p>$1.95</p>
            </div>
            <div class="itemDescription">
              <p>Coke, diet coke, raspberry, pink lemonade, sprite, doctor pepper, fanta orange.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menuCard">
      <div class="menuCardTitle">
        <h1>Lunch Specials</h1>
        <span>Served Monday - Friday 11:00 am -3:00 pm. Served with green salad, an egg roll and steamed jasmine rice or brown rice choice of
          chicken, beef, pork, or tofu, shrimp add $1.00.</span>
          <hr>
      </div>
      <div class="menuCardColumnContainer">
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L1. Pad Thai Noodle</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>(Rice not included). Stir fried thin rice noodles with egg, bean sprouts, green onions and grounded peanuts.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L3. Spicy Basil leaves</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried chili, garlic, onions, bell peppers, and basil leaves.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L5. Broccoli and Oyster Sauce</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried fresh broccoli with oyster sauce.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L7. Ginger and Mushroom</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried fresh ginger, onions, mushrooms, and carrots in soy sauce.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L9. Pad Prink Thai Dum</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried with black pepper, onions, bell peppers, celery and mushrooms.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L11. Fried Garlic and Pepper</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried with garlic, pepper and vegetable.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L13. Red Curry</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>Your choice of meat in red curry, coconut milk, bamboo shoots, basil leaves and bell peppers.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L15. Panang Curry</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>Your choice of meat in panang curry, coconut milk, bell peppers, peas and carrots.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L17. Thai BBQ Chicken</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>Served with sweet and sour sauce.</p>
            </div>
          </div>
        </div>
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L2. Pad See Ew</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>(Rice not included). Pan fried at noodles with broccoli and egg in sweet soy sauce.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L4. Spicy Cashew Nuts</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried with water chestnuts, roasted chili and chili paste.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L6. Eggplant Lover</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried with bell peppers, onions, garlic, and basil leaves.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L8. Prik King</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried fresh green beans with chili paste.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L10. Garlic Green Bean</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried fresh green beans with garlic.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L12. Yellow Curry</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>Your choice of meat in yellow curry, coconut milk, potatoes, carrots and onions.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L14. Green Curry</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>Your choice of meat in green curry, coconut milk, bamboo shoots, basil leaves and bell peppers.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L16. Teriyaki Chicken</h1>
              <p>$6.95</p>
            </div>
            <div class="itemDescription">
              <p>Sliced grilled chicken, served with teriyaki sauce.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L18. B. B. Q Spareribs</h1>
              <p>$6.95</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menuCard">
      <div class="menuCardTitle">
        <h1>Salmon Lunch Specials</h1>
        <span>Served Monday - Friday 11:00am - 3:00pm. Served with green salad, an egg roll and
          steamed jasmine rice or brown rice.</span>
          <hr>
      </div>
      <div class="menuCardColumnContainer">
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L19. Choo Chee Salmon</h1>
              <p>$8.95</p>
            </div>
            <div class="itemDescription">
              <p>Red curry sauce, coconut milk, bell peppers, and basil leaves.</p>
            </div>
          </div>
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L21. Teriyaki Salmon</h1>
              <p>$8.95</p>
            </div>
            <div class="itemDescription">
              <p>Grilled salmon served with teriyaki sauce.</p>
            </div>
          </div>
        </div>
        <div class="menuCardColumn">
          <div class="menuItem">
            <div class="itemName_Price">
              <h1>L20. Spicy Basil leaves Salmon</h1>
              <p>$8.95</p>
            </div>
            <div class="itemDescription">
              <p>Stir fried chili, garlic, onions, bell peppers, and basil leaves.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="priceDisclaimer">
      <p>* All items are priced exactly the same as the restaurant's printed delivery menu.</p>
      <p>* Prices are subject to change at any time by restaurants without notification.</p>
    </div>
    <hr>
    <a href="https://www.grubhub.com/restaurant/riverside-thai-kitchen-7755-california-ave-riverside/273402?dtype=delivery&utm_source=eat24hours.com&utm_medium=grubhub-owned-delivery-properties&utm_campaign=growth_redirect-eat24-legacy_201811&utm_content=nopromo_" id="orderOnline"><i class="fas fa-arrow-circle-right"></i>  Order Online</a>
  </div>
</section>
<% include ./partials/footer %>
